<aside class="sidebar">
    <button type="button" class="sidebar-close-btn">
        <iconify-icon icon="radix-icons:cross-2"></iconify-icon>
    </button>
    <div>
        <a href="{{ url_for('index') }}" class="sidebar-logo">
            <img src="/static/images/logo.png" alt="site logo" class="light-logo">
            <img src="/static/images/logo-light.png" alt="site logo" class="dark-logo">
            <img src="/static/images/logo-icon.png" alt="site logo" class="logo-icon">
        </a>
    </div>
    <div class="sidebar-menu-area">
        <ul class="sidebar-menu" id="sidebar-menu">
            <li>
                <a href="{{ url_for('index') }}">
                    <iconify-icon icon="solar:pie-chart-outline" class="menu-icon"></iconify-icon>
                    <span>Dashboards</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('chat_ia') }}">
                    <iconify-icon icon="solar:chat-round-outline" class="menu-icon"></iconify-icon>
                    <span>Chat IA</span>
                </a>
            </li>

        </ul>
    </div>
</aside>